@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black: #212121;
    --white: #fff;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    color: var(--black);
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
* {
    box-sizing: border-box;
}

main {
    z-index: 0;
    max-width: 100vw;
    overflow: hidden;
}
a {
    text-decoration: none !important;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Comfortaa", cursive;
    font-size: 2.5rem;
}
h2 {
    font-family: "Comfortaa", cursive;
    font-size: 2rem;
}

h3 {
    font-family: "Comfortaa", cursive;
    font-size: 1.5rem;
}

/* HEADER */
header {
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: #00000029 0 0 15px;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 0.8% 6%;
}
.header-menu .menu-menu-principal-container {
    display: flex;
    align-items: center;
}
.header-menu .menu-menu-principal-container ul {
    gap: 4rem;
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1.1rem;
}
.header-menu .menu-menu-principal-container ul li {
    font-family: "Comfortaa", sans-serif!important;
}
.header-menu .menu-menu-principal-container ul li a {
    color: var(--black);
}
.header-menu .menu-menu-principal-container ul li a:nth-child(99) {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.header-menu .menu-menu-principal-container ul li.current-menu-item a {
    color: var(--main_color) !important;
    border-bottom: 2px solid var(--main_color) !important;
    padding-bottom: 3px;

}
.header-menu .menu-menu-principal-container ul li a:hover {
    color: var(--main_color);
    border-bottom: 2px solid var(--main_color);
    padding-bottom: 3px;
}
.header-menu .logo a img {
    width: 70px;
    height: auto;

}

/* BURGER MENU */

@media screen and (max-width: 900px){
    .hamburger {
        position: relative;
        display: block !important;
        width: 45px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        z-index: 100;
    }
    .hamburger .bar,    
    .hamburger:after,
    .hamburger:before {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--main_color);
        margin: 5px 0px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 20px;
    }
    .hamburger.is-active:before {
        -webkit-transform: rotate(-45deg) translate(-5px, 4px);
        transform: rotate(-45deg) translate(-5px, 4px);
    }
    .hamburger.is-active:after {
        -webkit-transform: rotate(45deg) translate(-9px, -8px);
        transform: rotate(45deg) translate(-9px, -8px);
    }
    .hamburger.is-active .bar {
        opacity: 0;
    }
    
    .header-menu-top {
        position: absolute;
        top: 100%;
        left: 100%;
        flex-direction: column;
        gap: 1.5rem !important;
        align-items: flex-end;
        /* z-index: 98; */
        margin-left: 45% !important;
        width: 55%;
        background-color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        padding: 50px;
        border-radius: 0 0 0 20px;
        box-shadow : -2px 4px 5px 0px #00000025;
    }

    .logo {
        z-index: 1000;
    }
    .header-menu-top.is-active {
        left: 0;
    }
    .header-menu-top a {
        display: block;
        width: fit-content;
    }
}

.hamburger {
    display: none;
}
/* FOOTER */
footer {
    text-align: center;
    padding: 1% 0;
    border-top: 1px solid var(--main_color);
    margin: 5% 10% 0;
}

footer ul {
    justify-content: center;
    gap: 6rem;
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 2%;
    padding: 0;
}

footer ul li a,
footer a {
    color: var(--black);
}

footer ul li a:hover {
    color: var(--main_color);
}

footer img {
    width: 100%;
    height: auto;
    max-width: 100px;
    margin-bottom: 2%;
}

.footer-rs {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.footer-rs a {
    background-color: var(--main_color);
    color: var(--white);
    font-size: 1rem;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-align: center;
    border-radius: 50px;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    color: var(--black);
    padding: 0.5% 0;
}

@media screen and (max-width: 900px){
    footer ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 6%;
    }
    .footer-rs,
    .footer-copyright {
        padding-bottom: 5%;
    }
}
/* BUTTONS */
.btn {
    border: 1px solid white;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    width: fit-content;
}

.btn:hover {
    background-color: var(--main_color);
    border: 1px solid var(--main_color);
    color: white;
    cursor: pointer;
    transform: scale(0.95);
} 

.btn-blue {
    background-color: var(--main_color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
}

.btn-blue:hover {
    background-color: transparent;
    border: var(--main_color) 1px solid;
    color: var(--main_color);
    cursor: pointer;
    transform: scale(0.95);
}

/* HERO */
.hero {
    height: 70vh;
    width: 100%;
    text-align: center;
    color: white;
}


div.overlay {
    background-color: #7e7e7e66;
    color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 2%;
}


/* TWO COLUMNS */
.two-columns {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 5% 0;
    align-items: center;
    padding: 3%;
}
.two-columns img {
    max-height: 500px;
    width: 50%;
    border-radius: 16px;
    box-shadow: #00000025 0 0 4px;
}
.two-columns div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    width: 50%;
}
.two-columns h2,
.two-columns p {
    margin-bottom: 5%;
}
.bg-blue {
    background-color: var(--main_color);
}
.bg-blue h2, .bg-blue p {
    color: white;
}
.bg-yellow {
    background-color: var(--secondary_color);
}
@media screen and (max-width: 900px){
    .two-columns {
        flex-direction: column;
        padding: 6%;
    }
    .bg-blue {
        padding: 10%;
    }
    .two-columns img {
        width: 100%;
    }
    .two-columns div {
        width: 100%;
    }
}

/* CONTACT SECTION */
.contact-section {
    width: 100%;
    text-align: center;
}

.contact-section .overlay {
    height: 40vh;
}

.contact-section p {
    width: 70%;
}

@media screen and (max-width: 768px) {
    .contact-section .overlay {
        height: 70vh;
    }
  
}
/* ICONS */
.section-icons {
    text-align: center;
    margin: 5%;
}
.section-icons img {
    margin-bottom: 5%;
}

.section-icons h2 {
    margin-bottom: 2%;
}
.section-icons h3 {
    margin-bottom: 5%;
}

.section-icons h2,
.section-icons h3 {
    color: var(--main_color);
}

.icons {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 5% 0;

}
.icon {
    text-align: center;
    max-width: 33%;
}
@media screen and (max-width: 900px){
    .icon {
        max-width: 100%;
        margin-bottom: 10%;
    }
    .icons {
        flex-direction: column;
    }
}

/* MEMBERS */
.section-members {
    text-align: center;
}
.section-members h2 {
    margin-bottom: 5%;
    color: var(--secondary_color);;
}
.members {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 5% 0;
}
.member {
    text-align: center;
}
.member .subtitle {
    color: var(--main_color);
}
@media screen and (max-width: 900px){
    .members {
        flex-direction: column;
    }
}

/* ABOUT */
.about-images {
   text-align: center;
   margin: 5%;
}

.about-images div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    margin-bottom: 5%;
}

.about-images img {
    border-radius: 16px;
    box-shadow: #00000025 0 0 4px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 900px) {
    .about-images div {
        display: block;
    }

    .about-images img {
        margin-bottom: 5%;
    }

    .member {
        margin-bottom: 5%;
    }
    
}

/* CONTACT FORM */
#wpforms-form-258 {
    width: 70%;
    margin: 0 auto;
}

#wpforms-258-field_0,
#wpforms-258-field_1,
#wpforms-258-field_3,
#wpforms-258-field_2,
#wpforms-258-field_0-last,
#wpforms-258-field_5 {
    border: 1px solid var(--black);
    border-radius: 16px;
}

#wpforms-submit-258 {
    background-color: transparent !important;
    border: 1px solid var(--black) !important;
    color: var(--black) !important;
    border-radius: 16px;
    padding: 10px 20px;
}

.wpforms-submit-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px){
    #wpforms-258-field_0-container .wpforms-field-row-block {
        display: block !important;
    } 
    .wpforms-one-half {
        padding: 15px 0!important;
        width: 100%!important;
    }
    #wpforms-258-field_0-container {
        padding-bottom: 0;
    }
}

/* RGPD */

@media screen and (max-width:900px){
    .RGPD-content {
        width: 80% !important;
        margin: 0 10% !important;
    }   
}

.RGPD-content {
    width: 60%;
    margin: 0 20%;
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding-top: 6%;

}


/* 404 */

.not-found-container  {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8%;
}

